<body>
<center><h1>Site Map</h1><center>

<div class="left">
<p><%= link_to "aboutme" , aboutme_path %></p>
<p><%= link_to"welcome" , welcome_path %></p>
<p><%= link_to "portfolio" , portfolio_path %></p>
<p><%= link_to "resume" , resume_path %></p>
<p><%= link_to "news" , news_path %></p>
<p><%= link_to "gallery", gallery_path%></p>
<p><%= link_to "portfolio gallery", portgal_path%></p>
</div>
</body

