
<body>
	<% if user_signed_in? && current_user.admin%>
		You're an admin.
	<% end %>
	<% if user_signed_in? && !current_user.admin%>
		<%= form_tag("/say_hi") do %>
		<%= label_tag('my_password', "Your Admin Password:")%>
		<%= text_field_tag('my_password')%>
		<%= submit_tag("Submit")%>
		<%end%>
	<%end%>
	<%= form_tag("/say_hi") do %>
		<%= label_tag('my_color', "Your Color")%>
		<%= text_field_tag('my_color')%>
		<%= submit_tag("Submit")%>
	<%end%>

	<center><h2 class="welcome">Welcome to my site!</h2></center>
	<center><%= link_to(image_tag("IMG_05.jpg"), sitemap_path)%></center>
<footer>
<p class="footer"><%= @shown_message%></p>
</footer>
</body>


