<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%if session['color'] == 'purple'%>
  <%end%>
</head>
<body>

<%= yield %>
<footer>
<p class="foot">Made by Aaron Nealey</p>
<p class="foot">Updated 2014</p>
</footer>
<p class="foot"><%= @count%></p>
</body>

</html>
